# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Facts.iml
# Datasource local storage ignored files
/../../../../../../../:\Projects\Sharp\Facts\.idea\.idea.Facts\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
